.stock-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

.stock-container name h3,
stock-container name h4 {
  display: inline-block;
}

.form-stock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
