.stock-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
}

.heading-welcome {
  text-align: center;
}

.form-stock {
  margin-top: 40px;
}

.stock-container {
  text-align: center;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
