<div class="max-w-lg mx-auto bg-white shadow-xl rounded-xl p-8">
  <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">
    Chi tiết cổ phiếu
  </h2>

  <form [formGroup]="stockForm" *ngIf="stockForm" class="space-y-6">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        readonly
        class="bg-gray-100"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Code</mat-label>
      <input
        matInput
        type="text"
        formControlName="code"
        readonly
        class="bg-gray-100"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Price</mat-label>
      <input
        matInput
        type="text"
        formControlName="price"
        readonly
        class="bg-gray-100"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Previous Price</mat-label>
      <input
        matInput
        type="text"
        formControlName="previousPrice"
        readonly
        class="bg-gray-100"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Exchange</mat-label>
      <input
        matInput
        type="text"
        formControlName="exchange"
        readonly
        class="bg-gray-100"
      />
    </mat-form-field>

    <div class="flex items-center">
      <mat-checkbox formControlName="favorite" disable class="locked-checkbox"
        >Favorite</mat-checkbox
      >
    </div>
  </form>
</div>
