<div class="login-container">
    <div class="login-box">
        <h2>Đăng nhập</h2>
        <form>
            <div class="input-form">
                <div class="input-group">
                    <input type="text" placeholder="Tên người dùng" required />
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Mật khẩu" required />
                </div>
            </div>
            <button type="submit" class="login-btn">Đăng nhập</button>
        </form>
    </div>
</div>