

/* Định dạng tổng thể */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Khung đăng nhập */
.login-box {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    font-size: 30px;
    margin-bottom: 70px;
}

.input-form {
    margin-bottom: 90px;
}

/* Ô nhập liệu */
.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #00bcd4;
    outline: none;
    font-size: 16px;
}

/* Nút đăng nhập */
.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #ff00ff, #00bcd4);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    opacity: 0.8;
}