<div class="container">
  <div class="search-bar">
    <h2>Stock list</h2>
    <mat-form-field appearance="outline">
      <mat-label>Search stock by code</mat-label>
      <input matInput [(ngModel)]="Keysearch" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="OnSearchStock()">
      Search
    </button>
  </div>

  <div class="stock-list">
    <app-item-stock
      *ngFor="let stock of stocks$ | async"
      [stock]="stock"
      (stockIndex)="onGetEventUpdateStock(stock)"
      (deleted)="onDeleted($event)"
      (toggledFav)="onToggledFav($event)"
      (updated)="onUpdated($event)"
    >
    </app-item-stock>
  </div>
</div>

<!-- <div class="pagination">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
    Prev
  </button>
  <span>Page {{ currentPage }} / {{ totalPages }}</span>
  <button
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div> -->
