.links {
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #ddd;
}

.links ul {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.links li {
  list-style-type: none;
}

.links a:hover {
  background-color: #ddd;
}
.links a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.links a.active {
  background-color: rgb(45, 41, 183);
  color: white;
}
