<div class="login-container">
  <div class="login-box">
    <h2>Đăng nhập</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-form">
        <div class="input-group">
          <input
            type="text"
            name="username"
            [(ngModel)]="loginData.username"
            placeholder="Tên người dùng"
            required
          />
        </div>
        <div class="input-group">
          <input
            type="password"
            name="password"
            [(ngModel)]="loginData.password"
            placeholder="Mật khẩu"
            required
          />
        </div>
      </div>
      <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
        Đăng nhập
      </button>
    </form>
  </div>
</div>
